/* ! Home Slider CSS */

.carousel-control-prev, 
.carousel-control-next {
    width: 40px;
    height: 40px;
    background-color: #edf2f7;
    border-radius: 50%;
    opacity: 1;
    top: calc(50% - 25px);
    color: red !important;
}

 .carousel-control-prev {
    left: 2%;
}

 .carousel-control-next {
    right: 2%;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  float: left;
  width: 33%;
  height: 10px;
  margin: 0;
  border-radius: 0;
  border: 0;
  background: transparent;
}

ol.carousel-indicators li.active {
  background: yellow;
}


/* ! Home Tab CSS */






  /* CSS Home Resimler */

  /* ! Home İcon */

  .home-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    padding-top: 15px;
    padding-bottom: 15px;
  }

