/* ? Home Slider CSS */

#carousel_1 .carousel-control-prev, 
#carousel_1 .carousel-control-next {
    width: 40px;
    height: 40px;
    background-color: #edf2f7;
    border-radius: 50%;
    opacity: 1;
    top: calc(50% - 25px);
    color:rgb(10, 10, 10) !important;
}

#carousel_1 .carousel-control-prev {
    left: 2%;
}

#carousel_1 .carousel-control-next {
    right: 2%;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
  padding: 0px !important;
}

#carousel_1 .carousel-caption {
    background-color: #edf2f7;
    transition:all 1s cubic-bezier(.25,.46,.45,.94);
    transition: delay 0.5s;;
    width: 430px;
    height: 270px;
    padding: 30px;
  }

   .carousel-control-prev, 
 .carousel-control-next {
    width: 40px;
    height: 40px;
    background-color: #edf2f7;
    border-radius: 50%;
    opacity: 1;
    top: calc(50% - 25px);
    color: red !important;
}

 .carousel-control-prev {
    left: 2%;
}

 .carousel-control-next {
    right: 2%;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
  padding: 0px !important;
}

 .carousel-caption {
    background-color: #edf2f7;
    transition:all 1s cubic-bezier(.25,.46,.45,.94);
    transition: delay 0.5s;;
    width: 430px;
    height: 270px;
    padding: 30px;
  }


/* ! Home Tab CSS */

  .nav {
    background: #edf2f7 !important;
    border-radius: 80px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .nav-pills .nav-link {
      border-radius: 50px;
      padding-right: 25px;
      padding-left: 25px;
      font-weight: 500;
  }

  .tab-content .active{
    background-color: #edf2f7;
  }

  .carousel-item.active, .carousel-item-next, .carousel-item-prev {
    background-color: #edf2f7;
    padding: 20px 0px;
  }



  /* CSS Home Resimler */

  /* ! Home İcon */

  .home-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    padding-top: 15px;
    padding-bottom: 15px;
  }

