/* Card Slide CSS */

.card-slide {
    font-size: 14px;
}




/* ? Overlay */

 

  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.7); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .aaa:hover .overlay {
    opacity: 1;
  }



